version: "3"
services:
  springboot-app:
    container_name: con1
    image: dcimage
    restart: always
    build: .
    ports:
      - 8080:8080
    environment:
      MYSQL_HOST: mysqldb2
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_PORT: 3306
  mysqldb2:
    container_name: mysqldb2
    image: mysql
    volumes:
      -  C:\Users\mindc1may380\Desktop\db:\var\lib\mysql
    ports:
      - 3307:3306
    environment:
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: root